name: run-tests

on: [push, pull_request]

jobs:
    tests:
        runs-on: ubuntu-latest
        strategy:
            fail-fast: false
            matrix:
                laravel: [9.*, 8.*]
                php: ['8.2', '8.1', '8.0']
                include:
                    - laravel: 8.*
                      php: '7.4'
                    - laravel: 8.*
                      php: '7.3'
                    - laravel: 7.*
                      php: '8.0'
                    - laravel: 7.*
                      php: '7.4'
                    - laravel: 7.*
                      php: '7.3'
                    - laravel: 7.*
                      php: '7.2'
                    - laravel: 6.*
                      php: '8.0'
                    - laravel: 6.*
                      php: '7.4'
                    - laravel: 6.*
                      php: '7.3'
                    - laravel: 6.*
                      php: '7.2'
                    - laravel: 5.8
                      php: '7.2'
                    - laravel: 5.8
                      php: '7.1'
                    - laravel: 5.7
                      php: '7.2'
                    - laravel: 5.7
                      php: '7.1'
                    - laravel: 5.6
                      php: '7.2'
                    - laravel: 5.6
                      php: '7.1'
                exclude:
                    - laravel: 10.*
                      php: '8.0'
                    - laravel: 8.*
                      php: '8.2'

        name: L${{ matrix.laravel }} - PHP${{ matrix.php }}

        steps:
            -   name: Checkout code
                uses: actions/checkout@v3

            -   name: Install SQLite 3
                run: |
                    sudo apt-get update
                    sudo apt-get install sqlite3
            -   name: Setup PHP
                uses: shivammathur/setup-php@v2
                with:
                    php-version: ${{ matrix.php }}
                    extensions: mbstring, pdo, sqlite, pdo_sqlite, iconv
                    coverage: none

            -   name: Install dependencies
                run: |
                    composer config --no-plugins allow-plugins.kylekatarnls/update-helper true
                    composer require "illuminate/database:${{ matrix.laravel }}" --no-interaction --no-update
                    composer update --no-interaction
                    if [[ ${{  matrix.php }} == "7.0" ]] || [[ ${{  matrix.php }} == "7.1" ]]; then wget --no-check-certificate -O vendor/bin/phpunit https://phar.phpunit.de/phpunit-6.phar; fi
                    if [ ! -f "vendor/bin/phpunit" ]; then wget --no-check-certificate -O vendor/bin/phpunit https://phar.phpunit.de/phpunit-8.phar; fi
                    chmod +x vendor/bin/phpunit
            -   name: Execute tests
                run: |
                    echo "Laravel ${{  matrix.laravel }}"
                    php -v | head -1
                    ./vendor/bin/phpunit --coverage-text --coverage-clover build/logs/clover.xml
